:root {
	--blue: #8283ff;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.2em;
}

body {
	height: 100%;
	font-size: 20px;
	font-family: sans-serif;
}	

.container {
	position: relative;
	margin: 50px auto;
	width: 320px;
	border-radius: 15px;
	padding: 60px 0px;
	box-shadow: -1px 1px 10px lightgray;
	> *{
		margin: 20px auto;
	}
}

.rotatedImg {
	position: absolute;
	top: -20px;
	border-radius: 5% 5% 80% 20% / 5% 5% 50% 25%;

	z-index: -1;	
	background: linear-gradient(45deg, var(--blue), #4f50d7); 
						
	height: 190px;
	width: 100%;
}

.nameCard {
	font-size: 18px;
	display: grid;
	margin: auto 25px;
	margin-bottom: 80px;
	gap: 20px;
	grid-template-columns: 1fr 2fr;
	justify-content: space-between;
	align-items: center;
	color: white;
	.left {
		height: 78px;
		width: 78px;
		overflow: hidden;
		border-radius: 50px;
	}
	.left img {
		transform: translateX(-5px) translateY(-5px);
	}
	p {
		font-weight: lighter;
	}
	
}


.link {
	margin: 40px auto;
	display: flex;
	justify-content: center;
	a {
		padding: 10px 20px;
		font-size: 18px;	
		text-decoration: none;
		color: white !important;
		border: none !important;
		background: var(--blue);
		border-radius: 7px;
	}
}

.link a:hover {
	box-shadow: 1px 1px 5px gray;
}


li {
	list-style: none;
}

a {
	display: flex;
	align-items: center;
	justify-content: flex-start;;
	gap: 25px;
	margin-top: 5px;
	padding: 15px 30px;
	color: black;
	text-decoration: none;
	img {
		filter: invert(34%) sepia(0%) saturate(0%) 
			hue-rotate(209deg) brightness(90%) contrast(88%);
	}
}
a:hover {
	color: var(--blue);
	border-left: 3px solid var(--blue);
	img {
		filter: invert(33%) sepia(19%) saturate(4453%) 
			hue-rotate(218deg) brightness(92%) contrast(91%);


	}
}


